body{
    background: #ece7e7;
    font-family: Arial;
}
.wrapper{
    display: flex;
    border: none;
    background-color: white;
    justify-content: center; 
    flex-wrap: wrap-reverse;
    padding:40px 0px 40px 0px;
    /*align-items: center;  */
    /* margin-top: 160px;
    margin-left: 350px; */
}
#form-left{
    position: relative;
    background-image: url('hinh2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    box-shadow: #c6c1c1;
    min-width: 450px;
    /* box-shadow: 0px 0px 5px 10px #948f8f; */
    /* border: solid 1px black; */

    /* width: 50%; */
}
.quyenloi{
    margin-top: 500px;
    padding: 30px 30px 20px 30px;
    font-size: 13px;
    white-space: nowrap;
}
.quyenloi span{
    font-weight:550;
    font-weight: 14px;
    padding-left: none;
}
#form-right{
     border: solid 1px #777; 
    /* box-shadow: 0px 0px 17px 2px #7f7b7b; */
    min-width: 450px;
}
.head{
    display: flex;
    cursor: pointer;
    color: #d7d4d4;
}
#left,#right{
    border: none;
    border-bottom: solid 1px #d7d4d4;
    width:50%;
    text-align: center;
    padding: 5px;
    height:30px; 
    bottom:-1px;
    content:"";
}
#left{
    border-right: solid 1px #d7d4d4;
}
#left,#right:hover{
    color: #2691d9;
}
#dangnhap{
    max-width: 400px;
     padding: 30px 30px 30px 20px;
}
#dangky,#form-remember{
    max-width: 400px;
    padding: 30px 30px 30px 20px;
    display: none;
}
.contentmail div{
    margin-bottom: 5PX;
    font-size: 12px;
}
.contentmail.indam{
    font-weight: 550;
}
.ho div{
    margin-bottom: 5PX;
    font-size: 12px;
    font-weight:550;
}
.ho span{
    color: red;
}
.ten span{
    color: red;
}
.contentpassword div{
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 12px;
}
.contentmail span,
.contentpassword span{
    color: red;
}
.ten div{
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight:550;
}
#remember{
    margin-left: 290px;
    margin-bottom: 5px;
    color: #2691d9;
    cursor: pointer;
    white-space: nowrap;
}
#remember:hover{
    color: #2a88c7;
}
input{
    width: 100%;
    outline: none;
    border:solid 1px #d7d4d4;
    padding: 5px 5px 5px 5px;
    height:30px;
}
hr{
    width: 50%;
}
button{
    width: 100%;
    border: none;
    background: #2691d9;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height:30px;
}
button:hover{
    background-color: #2a88c7;
}
#baomat{
    color: #c6c1c1;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}
#footer{
    display: flex;
    clear: both;
    border: none;
    margin: 25px;
    padding: 10px;
    justify-content: center;

}
 #fleft{
    margin-right: 50px;
}
.quaylai span{
    color:#2691d9;
    cursor: pointer;
}
span:hover{
    color:black;
}
.quaylai{
    text-align: center;
    font-size: 12px;
}
.quenmk{
    font-size:14px;
    text-align: center;
    padding:0px 30px 20px 30px;
    color:#363535;
}
.spanemail{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 550;
}
.spanemail span{
    color: red;
}
